<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
    <div class="container">
        <h1 class="heading">MEET OUR TEAM</h1>
        <div class="card-container">
            <div class="card">
                <div class="card-header">
                    <img src="https://img.freepik.com/premium-photo/cartoon-girl-with-glasses-hat-standing-front-desk-generative-ai_733139-123895.jpg?ga=GA1.1.1422249168.1739249476&semt=ais_hybrid" alt="Member 1">
                    <h2>Amvi</h2>
                </div>
                <div class="card-body">
                    <p>Amvi is the visionary behind our E-Blog's success.</p>
                    <ul>
                        <li>Skills: HTML, CSS, JavaScript, Python, Flask</li>
                        <li>Education: High School from Brahm Rishi School, Abohar</li>
                        <li>Student at Chitkara University</li>
                    </ul>
                    <div class="social-icons">
                        <a href="contactto:" target="_blank">💬7508866966</a>
                        <a href="mailto:amvi@gmail.com" target="_blank">📧</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="https://img.freepik.com/premium-photo/portrait-beautiful-girl-glasses-with-backpack-3d-rendering_1142-48543.jpg?ga=GA1.1.1422249168.1739249476&semt=ais_hybrid" alt="Member 2">
                    <h2>Mudita</h2>
                </div>
                <div class="card-body">
                    <p>Mudita leads our efforts to engage with our community of blog lovers around the globe.</p>
                    <ul>
                        <li>Skills:HTML, CSS, JavaScript, Python, Flask</li>
                        <li>Education: High School from DAV School, Fatehabad</li>
                        <li>Student at Chitkara University</li>
                    </ul>
                    <div class="social-icons">
                        <a href="contactto:" target="_blank">💬9896298375</a>
                        <a href="mailto:mudita@gmail.com" target="_blank">📧</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="https://img.freepik.com/premium-photo/doll-with-glasses-shirt-that-says-it_616879-39870.jpg?ga=GA1.1.1422249168.1739249476&semt=ais_hybrid" alt="Member 3">
                    <h2>Arshiya</h2>
                </div>
                <div class="card-body">
                    <p>Arshiya curates our Blogs list, ensuring we have the latest and greatest blogs for our users. </p>
                    <ul>
                        <li>Skills:HTML, CSS, JavaScript, Python, Flask </li>
                        <li>Education: High School from BCM Arya, Ludhiana</li>
                        <li>Student at Chitkara University</li>
                    </ul>
                    <div class="social-icons">
                        <a href="contactto:" target="_blank">💬8968336927</a>
                        <a href="mailto:arshiya@gmail.com" target="_blank">📧</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <img src="https://img.freepik.com/premium-photo/vibrant-journey-chinese-young-man-exploring-campus-life-pixaresque-splendor_1000124-238837.jpg?ga=GA1.1.1422249168.1739249476&semt=ais_hybrid" alt="Member 4">
                    <h2>Ashish</h2>
                </div>
                <div class="card-body">
                    <p>Ashish is dedicated to make sure you find your next favorite blog to read. </p>
                    <ul>
                        <li>Skills:HTML, CSS, JavaScript, Python, Flask </li>
                        <li>Education: High School from Saint Fateh Singh Convent School ,Bathinda</li>
                        <li>Student at Chitkara University</li>
                    </ul>
                    <div class="social-icons">
                        <a href="contactto:" target="_blank">💬6283672801</a>
                        <a href="mailto:ashish@gmail.com" target="_blank">📧</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>